{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
        <form method="POST" class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						Login to continue
          </span>
          
					{% csrf_token %}
          {% for field in form.visible_fields %}
       <div class="form-group" >
        <label for="{{ field.id_for_label }}"><B>{{ field.label }}</B></label> 
        {{ field|add_class:'form-control' }}
        
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
        </div>
        {% endfor %}

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div>
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
					
					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							or sign up using
						</span>
					</div>

					<div class="login100-form-social flex-c-m">
						<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-facebook-f" aria-hidden="true"></i>
						</a>

						<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div>
				</form>

				<div class="login100-more" style="background-image: url('static/images/2.jpg');">
				</div>
			</div>
		</div>
	</div>
	

</body>

{% endblock %}